<section>
  <h1>NoSql</h1>
  <h2>Not Only Sql</h2>
  <p>
    <small>by <a href="https://github.com/saicheg/">Valentine Zavadsky</a> </a></small>
  </p>
</section>

<section>
  <h3>What is NoSql?</h3>
  <%= image_tag 'question.png', :class => 'no-border' %>
</section>

<section>
  <p>
    NoSQL — термин, обозначающий ряд подходов, проектов, направленных на реализацию моделей баз данных, имеющих существенные отличия от используемых в традиционных реляционных СУБД с доступом к данным средствами языка SQL.
  </p>
  <%= image_tag 'wiki.png', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h1>My own definition goes here...</h1>
</section>

<section>
  <%= image_tag 'history.jpg', :class => 'no-background no-border no-shadow' %>
</section>

<section>
  <h1>Names of databases</h1>
</section>

<section>
  <h1>All names of databases</h1>
</section>

<section>
  <h1>Principles(ACID)</h1>
</section>

<section>
  <h1>Classifications</h1>
</section>

<section>
  <h1></h1>
</section>

<section>
  <h1></h1>
</section>

<section>
  <h1>My own definition goes here...</h1>
</section>


